<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" valign="top" class="orenge15">Descriptions:</td>
  </tr>

  <tr>
      <td align="left" valign="top" style="padding:8px 8px 8px 8px; font-weight:normal;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <% for n_item in @new_items %>
          <tr>
            <td align="left" valign="top" class="downline"><span class="orengek12tahoma"><%= n_item.title %></span> <%= n_item.description  %></td>
          </tr>
        <% end %>
        </table>
      </td>
  </tr>
</table>
