<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="16" height="20" align="center" valign="middle">
        <img src="images/arrow.jpg" width="8" height="8" />
    </td>
    <td align="left" valign="middle">
        <a href="#" class="link_product">Computer</a>
    </td>
  </tr>
</table>
