<table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 1px solid rgb(211, 211, 211); background-color: rgb(253, 253, 253);">
 <tbody>
  <tr>
    <td valign="top" align="left" style="padding: 8px;"><table width="100%" cellspacing="0" cellpadding="0" border="0">
      <tbody><tr>
        <td valign="top" height="30" align="left" class="black16tahoma"><span style="color: rgb(242, 69, 1);">Careers</span></td>
      </tr>
      <tr>
        <td valign="top" align="left" style="text-align: justify;">
          <%= @content.career %>
        </td>
      </tr>
      <tr>
        <td valign="bottom" height="20" align="right"><a class="link_more" href="#">more</a></td>
      </tr>
    </tbody></table></td>
  </tr>
</tbody>
</table>
