<table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 1px solid rgb(211, 211, 211); background-color: rgb(253, 253, 253);">
              <tbody><tr>
                <td valign="top" align="left" style="padding: 8px;"><table width="100%" cellspacing="0" cellpadding="0" border="0">
                  <tbody><tr>
                    <td valign="top" height="30" align="left" class="black16tahoma">Contactt <span style="color: rgb(242, 69, 1);">Us</span></td>
                  </tr>
                  <tr bgcolor="#ffffff">
                    <td valign="top" align="left">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In pellentesque lorem non est. Proin vestibulum lacinia metus. Pellentesque lobor.
                          <p>Customer Service<br/>
                            <a href="#">customerservice@Lorem ipsum.com</a><br/>
                        US Phone: 954-577-4444<br/>
                        Mexico Phone: (001) 52-427-272-3791</p>
                      
                      
                      
                      
                      
                      <span class="black14tahoma">Contact Form</span>
                          <table width="100%" cellspacing="0" cellpadding="6" border="0">
                            <tbody><tr>
                              <td>Name <span class="style1">*</span> </td>
                              <td><input type="text" size="50" name="name"/></td>
                            </tr>
                            <tr>
                              <td>Title</td>
                              <td><input type="text" size="50" name="title"/></td>
                            </tr>
                            <tr>
                              <td>Company</td>
                              <td><input type="text" size="50" name="company"/></td>
                            </tr>
                            <tr>
                              <td>Address</td>
                              <td><input type="text" size="50" name="address"/></td>
                            </tr>
                            <tr>
                              <td>City</td>
                              <td><input type="text" size="50" name="city"/></td>
                            </tr>
                            <tr>
                              <td>State</td>
                              <td><input type="text" size="50" name="state"/></td>
                            </tr>
                            <tr>
                              <td>Zip</td>
                              <td><input type="text" size="50" name="zip"/></td>
                            </tr>
                            <tr>
                              <td>Telephone <span class="style1">*</span> </td>
                              <td><input type="text" size="50" name="phone"/></td>
                            </tr>
                            <tr>
                              <td>Fax</td>
                              <td><input type="text" size="50" name="fax"/></td>
                            </tr>
                            <tr>
                              <td>Email</td>
                              <td><input type="text" size="50" name="email"/></td>
                            </tr>
                            <tr>
                              <td>Preferred contact time</td>
                              <td><input type="text" size="31" name="time"/>
                                  <select class="text" name="timezone">
                                    <option value="">Choose One</option>
                                    <option value="Eastern">Eastern</option>
                                    <option value="Central">Central</option>
                                    <option value="Mountain">Mountain</option>
                                    <option value="Pacific">Pacific</option>
                                  </select>                              </td>
                            </tr>
                            <tr>
                              <td>Preferred contact method</td>
                              <td><select class="text" name="method">
                                  <option value="">Choose One</option>
                                  <option value="Phone">Phone</option>
                                  <option value="Email">Email</option>
                                  <option value="Fax">Fax</option>
                                </select>                              </td>
                            </tr>
                              <tr><td align="center" colspan="2"><input type="submit" value="Submit"/></td>
                            </tr>
                          </tbody></table>
                     </td>
                  </tr>
                </tbody></table></td>
              </tr>
            </tbody></table>
