<table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #d3d3d3; background-color:#fdfdfd;">
              <tr>
                <td align="left" valign="top" style="padding:8px 8px 8px 8px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="30" align="left" valign="top" class="black16tahoma">Welcome to <span style="color:#f24501;">Variant System</span></td>
                  </tr>
                  <tr>
                    <td align="left" valign="top" style="text-align:justify;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In pellentesque lorem non est. Proin vestibulum lacinia metus. Pellentesque lobor tis nunc id nunc. Integer sed erat a quam viverra feugiat. Curabitur non mauris vitae urna laoreet mollis. Nunc ultrices, nibh et laoreet consequat, dui tellus venenatis massa, fringilla vestibulum elit ipsum in ante. Ut vel pede eu velit aliquam mattis. Integer ut erat. Morbi convallis facilisis libero.Suspendisse odio dui, luctus at, adipiscing quis, tempor id, nunc. Donec purus nibh, condimentum vitae, molestie ac, cursus sit amet, ligula.</td>
                  </tr>
                  <tr>
                    <td height="20" align="right" valign="bottom"><a href="#" class="link_more">more</a></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td align="left" valign="top" style="padding:8px 8px 8px 8px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="30" align="left" valign="top" class="black16tahoma">New <span style="color:#f24501;">Products!</span></td>
                  </tr>
                  <tr>
                    <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="left" valign="top" style="padding-left:10px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="148" height="175" align="left" valign="top" style="background:url(images/box.jpg) no-repeat;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td align="left" valign="top" style="padding:10px 13px 0px 11px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td height="113" align="center" valign="middle" style="background-color:#FFFFFF;"><img src="images/pic1.jpg" width="116" height="86" /></td>
                                  </tr>
                                  <tr>
                                    <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td align="right" valign="top" class="black14tahoma">Price: <span class="orengek16tahoma">$800</span></td>
                                      </tr>
                                      <tr>
                                        <td height="18" align="right" valign="bottom"><a href="#" class="link_asharrow">Computer</a></td>
                                      </tr>
                                    </table></td>
                                  </tr>
                                </table></td>
                              </tr>
                            </table></td>
                            <td width="13" align="left" valign="top">&nbsp;</td>
                            <td width="148" height="175" align="left" valign="top" style="background:url(images/box.jpg) no-repeat;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td align="left" valign="top" style="padding:10px 13px 0px 11px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td height="113" align="center" valign="middle" style="background-color:#FFFFFF;"><img src="images/pic2.jpg" width="114" height="92" /></td>
                                      </tr>
                                      <tr>
                                        <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                              <td align="right" valign="top" class="black14tahoma">Price: <span class="orengek16tahoma">$1200</span></td>
                                            </tr>
                                            <tr>
                                              <td height="18" align="right" valign="bottom"><a href="#" class="link_asharrow">Laptop</a></td>
                                            </tr>
                                        </table></td>
                                      </tr>
                                  </table></td>
                                </tr>
                            </table></td>
                            <td width="13" align="left" valign="top">&nbsp;</td>
                            <td width="148" height="175" align="left" valign="top" style="background:url(images/box.jpg) no-repeat;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td align="left" valign="top" style="padding:10px 13px 0px 11px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td height="113" align="center" valign="middle" style="background-color:#FFFFFF;"><img src="images/pic.jpg" width="116" height="104" /></td>
                                      </tr>
                                      <tr>
                                        <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                              <td align="right" valign="top" class="black14tahoma">Price: <span class="orengek16tahoma">$200</span></td>
                                            </tr>
                                            <tr>
                                              <td height="18" align="right" valign="bottom"><a href="#" class="link_asharrow">Printer</a></td>
                                            </tr>
                                        </table></td>
                                      </tr>
                                  </table></td>
                                </tr>
                            </table></td>
                            <td align="left" valign="top">&nbsp;</td>
                          </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td height="20" align="right" valign="bottom"><a href="#" class="link_more">more</a></td>
                      </tr>
                    </table></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td align="left" valign="top" style="padding:8px 8px 8px 8px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td align="left" valign="top" class="orenge15">Lorem ipsum dolor sit ame :</td>
                  </tr>
                  <tr>
                    <td align="left" valign="top" style="padding:8px 8px 8px 8px; font-weight:normal;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="left" valign="top" class="downline">orem ipsum dolor sit amet, consectetuer adipiscing elit. In pellentesque lorem non est. Proin vestibulum lacinia metus. Pellentesque lobor</td>
                      </tr>
                      <tr>
                        <td align="left" valign="top" class="downline">orem ipsum dolor sit amet, consectetuer adipiscing elit. In pellentesque lorem non est. </td>
                      </tr>
                      <tr>
                        <td align="left" valign="top" class="downline">orem ipsum dolor sit amet, consectetuer adipiscing elit. In pellentesque lorem non est. Proin vestibulum lacinia metus. Pellentesque lobor</td>
                      </tr>
                      <tr>
                        <td align="left" valign="top" class="downline">orem ipsum dolor sit amet, consectetuer adipiscing elit. In pellentesque lorem non </td>
                      </tr>
                      <tr>
                        <td align="left" valign="top" class="downline">orem ipsum dolor sit amet, consectetuer adipiscing elit. In pellentesque lorem non est. Proin vestibulum lacinia metus. Pellentesque lobor</td>
                      </tr>
                      <tr>
                        <td height="20" align="right" valign="bottom"><a href="#" class="link_more">more</a></td>
                      </tr>
                    </table></td>
                  </tr>
                </table></td>
              </tr>
            </table>
