<table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #d3d3d3; background-color:#fdfdfd;">
              <tr>
                <td align="left" valign="top" style="padding:8px 8px 8px 8px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="30" align="left" valign="top" class="black16tahoma">Welcome to <span style="color:#f24501;">Variant System</span></td>
                  </tr>
                  <tr>
                    <td align="left" valign="top" style="text-align:justify;">
                      <%= @content.home %>
                    </td>
                  </tr>

                </table></td>
              </tr>
              <tr>
                <td align="left" valign="top" style="padding:8px 8px 8px 8px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="30" align="left" valign="top" class="black16tahoma">New <span style="color:#f24501;">Products</span></td>
                  </tr>
                  <tr>
                    <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="left" valign="top" style="padding-left:10px;">
                          <%= render :partial =>"shared/new_products" %>
                        </td>
                      </tr>
                      <tr>
                       <td height="20" align="right" valign="bottom"><a href="#" class="link_more">more</a></td>
                      </tr>
                      </table>
                    </td>
                      </tr>
                      </table>                             
                    </td>
                  </tr>
                  <tr>
                <td align="left" valign="top" style="padding:8px 8px 8px 8px;">
                    <%= render :partial =>"shared/new_products_description" %>
                </td>
              </tr>
            </table>
