<table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 1px solid rgb(211, 211, 211); background-color: rgb(253, 253, 253);">
              <tbody><tr>
                <td valign="top" align="left" style="padding: 8px;"><table width="100%" cellspacing="0" cellpadding="0" border="0">
                  <tbody><tr>
                    <td valign="top" height="30" align="left" class="black16tahoma"><span style="color: rgb(242, 69, 1);">Support</span></td>
                  </tr>
                  <tr>
                    <td valign="top" align="left" style="text-align: justify;"><img width="250" height="167" border="0" align="right" src="images/pin5.jpg"/>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In pellentesque lorem non est. Proin vestibulum lacinia metus. Pellentesque lobortis nunc id nunc. Integer sed erat a quam viverra feugiat. Curabitur non mauris vitae urna laoreet mollis. Nunc ultrices, nibh et laoreet consequat, dui tellus venenatis massa, fringilla vestibulum elit ipsum in ante. Ut vel pede eu velit aliquam mattis. Integer ut erat. Morbi convallis facilisis libero.<br/>
                        <br/>
                      Suspendisse odio dui, luctus at, adipiscing quis, tempor id, nunc. Donec purus nibh, condimentum vitae, molestie ac, cursus sit amet, ligula.Donec felis eros, molestie eget, hendrerit ac, egestas ut, risus. <br/>
                      Mauris sollicitudin iaculis eros. Quisque dictum orci in sapien. Nam felis odio, dapibus a, vehicula non, pellentesque sit amet, libero. Pellentesque sed orci. Vivamus bibendum congue ligula.
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In pellentesque lorem non est. Proin vestibulum lacinia metus. Pellentesque lobortis nunc id nunc. Integer sed erat a quam viverra feugiat. Curabitur non mauris vitae urna laoreet mollis. Nunc ultrices, nibh et laoreet consequat, dui tellus venenatis massa, fringilla vestibulum elit ipsum in ante. Ut vel pede eu velit aliquam mattis. Integer ut erat. Morbi convallis facilisis libero.<br/>
                        <br/>
Suspendisse odio dui, luctus at, adipiscing quis, tempor id, nunc. Donec purus nibh, condimentum vitae, molestie ac, cursus sit amet, ligula.Donec felis eros, molestie eget, hendrerit ac, egestas ut, risus. <br/>
Mauris sollicitudin iaculis eros. Quisque dictum orci in sapien. Nam felis odio, dapibus a, vehicula non, pellentesque sit amet, libero. Pellentesque sed orci. Vivamus bibendum congue ligula.<br/>

                        </p></td>
                  </tr>
                  <tr>
                    <td valign="bottom" height="20" align="right"><a class="link_more" href="#">more</a></td>
                  </tr>
                </tbody></table></td>
              </tr>
            </tbody></table>
